.new-bin-wrapper {
    position: relative;
    width: 300px;
    height: 75px;
}

#new-bin-checkbox {
    appearance: none;
}

#new-bin-label #img {
    background: url("../images/plus-icon.png") no-repeat center;
    height: 100%;
    width: 100%;
}

#new-bin-label {
    display: block;
    margin: 2px;
    width: 100%;
    height: 75px;
    background: rgb(253, 233, 16);
    background: linear-gradient(90deg, rgba(253, 233, 16, 1) 0%, rgba(255, 216, 0, 1) 43%, rgba(255, 204, 0, 1) 100%);
    border-bottom: 4px solid #ffba00;
    border-radius: 30px 0 0 0;
}

#new-bin-menu {
    display: block;
    position: absolute;
    height: 75px;
    background: rgb(253, 233, 16);
    background: linear-gradient(90deg, rgba(253, 233, 16, 1) 0%, rgba(255, 216, 0, 1) 43%, rgba(255, 204, 0, 1) 100%);
    border: 1px solid #ffbf00;
    border-radius: 30px 0 0 0;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    transition: height 0.25s 0.1s ease-out;
}

input:checked ~ #new-bin-menu {
    display: block;
    height: 450px;
}

#new-bin-content {
    height: 100%;
    background: rgb(253, 233, 16);
    background: linear-gradient(90deg, rgba(253, 233, 16, 1) 0%, rgba(255, 216, 0, 1) 43%, rgba(255, 204, 0, 1) 100%);
}

.popup_heading {
    text-align: center;
    margin-top: 60px;
}

.dropdown_heading {
    text-align: center;
    margin-top: 45px;
}

.title {
    width: 100%;
}

.message {
    resize: none;
    width: 100%;
    margin-top: 10px;
    height: 100px;
}

.coords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coords__input {
    display: flex;
    align-items: center;
    flex-grow: 0;
}

.coords input {
    margin: 0 10px;
    width: 30px;
}

.form-color {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color {
    box-sizing: content-box;
    margin-top: 10px;
    width: 60px;
    border: 1px solid grey;
    border-radius: 2px;
}

.form-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.form-time-option {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.create__text {
    position: relative;
    flex: 0.7;
}

.popup-create-bg, .popup-show-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
}

.popup-create, .popup-show {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    background-color: white;
    height: 450px;
    transform: translate(-50%, -50%);
    border: 20px solid #ffba00;
    border-radius: 30px;
    overflow: auto;
}

.close-popup {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
}

.popup__content {
    padding: 0 20px;
}

.no-scroll {
    overflow-y: hidden;
}

.show__title {
    font-size: 28px;
    overflow: hidden;
    margin-right: 20px;
}

.show__info {
    display: flex;
    color: #888888;
}

.show__info {
    display: flex;
    color: #888888;
}

.show__info div {
    display: flex;
    margin-right: 40px;
}

.show__info img {
    margin-right: 8px;
}

.info_id .link_icons {
    margin-left: 10px;
}

.info_username {
    max-width: 100px;
}

.show__message {
    margin-top: 20px;
    font-size: 18px;
}

.show__delete_btn {
    margin-bottom: 10px;
}

.popup-show::-webkit-scrollbar {
    width: 6px;
}

.popup-show::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.popup-show::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.popup-show::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 5px;
}
