* {
    box-sizing: border-box;
}

.container {
    padding: 0 15px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ff0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10%;
    height: 80%;
}

.main__row {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.create, .get {
    background-color: red;
    width: 45%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.create__text, .create__title, .get__title {
    display: flex;
    justify-content: center;
}

.create__text {
    position: relative;
    flex: 0.7;
}

.heading {
    margin-top: 50px;
    text-align: center;
}

#create__title_input, #get__input {
    width: 100%;
    margin: 10px 0 0 0;
}

#create__textarea {
    resize: none;
    width: 100%;
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}



