* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

a {
    color: #2B2B2B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.toast__new-bin {
    display: flex;
    justify-content: space-between;
}

.toast-close-button {
    width: 20px;
    height: 20px;
}

.link_icon {
    cursor: pointer;
    position: absolute;
}

.link_icon:hover {
    display: none;
}

.__error {
    padding: -2px;
    border: 2px solid red;
}