.upper_menu {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    pointer-events: none;
}

.upper_menu .authorization {
    background: #ffdccf;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
    padding: 0 20px;
    pointer-events: auto;
}

.authorization > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.authorization > div > *:nth-child(1) {
    margin-right: 20px;
}

.upper_menu a {
    text-decoration: underline;
}

.profile {
    align-items: center;
    display: flex;
}

.profile img {
    margin-right: 5px;
}

.current_coords {
    margin: 5px;
    text-align: center;
}

.ui-wrapper {
    display: flex;
    justify-content: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.zoom-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.zoom-wrapper__row {
    display: flex;
}

.zoom-wrapper__row > * {
    margin: 0 10px 12px 0;
}

.zoom-wrapper__row > button {
    width: 36px;
    height: 28px;
    font-size: 18px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    pointer-events: all;
    user-select: none;
}

.zoom-wrapper__row > button:focus {
    border: 1px solid black;
}

#zoom-level {
    display: flex;
    flex-direction: column;
    justify-content: center;
}