<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/map.css}">
    <link rel="stylesheet" th:href="@{/css/ui_menu.css}">
    <link rel="stylesheet" th:href="@{/css/create_show_forms.css}">
    <link rel="stylesheet" th:href="@{/css/lib/toastr.min.css}">
    <title>Bins</title>
</head>
<body oncontextmenu="return false">

<div class="upper_menu">
    <div class="blank"></div>
    <h1 class="current_coords"></h1>
    <div class="authorization">
        <div sec:authorize="isAnonymous()">
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div class="profile">
                <img th:src="@{images/user_icon_black.png}" alt="profile_icon" height="22px">
                <div class="profile_username" sec:authentication="name"></div>
            </div>
            <a href="/logout">Log out</a>
        </div>
    </div>
</div>
<canvas id="canvas"></canvas>
<div class="ui-wrapper">
    <div class="zoom-wrapper">
        <div class="zoom-wrapper__row">
            <h3 id="zoom-level">100%</h3>
            <button id="zoom-in" onclick="zoom(-100, window.innerWidth/2, window.innerHeight/2)">+</button>
            <button id="zoom-out" onclick="zoom(100, window.innerWidth/2, window.innerHeight/2)">-</button>
        </div>
    </div>
    <div class="new-bin-wrapper">
        <input type="checkbox" id="new-bin-checkbox">
        <div id="new-bin-menu">
            <label for="new-bin-checkbox" id="new-bin-label">
                <div id="img"></div>
            </label>
            <div id="new-bin-content">
                <form id="drop-down">
                    <h2 class="dropdown_heading">New bin</h2>
                    <div class="create__title">
                        <input tabindex="-1" type="data" class="title __req __max-length-100" id="create__title_input">
                        <label for="create__title_input"></label>
                    </div>
                    <div class="create__text">
                        <textarea tabindex="-1" class="message __req" id="create__textarea" rows="7"></textarea>
                        <label for="create__textarea"></label>
                    </div>

                    <div class="coords">
                        <div class="coords__input">
                            <div class="coords__radio">
                                <input tabindex="-1" type="radio" name="coords__radio" checked id="coords__input">
                                <label for="coords__x">x:</label>
                                <input tabindex="-1" type="data" class="__req __min-value_-100 __max-value_100"
                                       id="coords__x">
                                <label for="coords__y">y:</label>
                                <input tabindex="-1" type="data" class="__req __min-value_-100 __max-value_100"
                                       id="coords__y">
                            </div>
                        </div>
                        <div class="coords__radio">
                            <label>
                                <input tabindex="-1" type="radio" name="coords__radio" id="coords__auto">
                            </label>
                            nearest to center
                        </div>
                    </div>

                    <div class="form-color">
                        <input tabindex="-1" value="#008000" data-jscolor="" class="color">
                    </div>

                    <div class="form-time-option">
                        <select tabindex="-1" class="amount_of_time"></select>
                    </div>
                    <div class="form-button">
                        <button tabindex="-1" onclick="extractData('drop-down')">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="popup-create-bg"></div>
<div class="popup-create">
    <img class="close-popup" th:src="@{/images/close-icon.png}" height="25px" width="25px" alt="">
    <div class="popup__content">
        <h2 class="popup_heading">New bin</h2>
        <form id="pop-up">
            <label for="popup__title"></label>
            <input type="data" class="title __req __max-length-100" id="popup__title">
            <label for="popup__message"></label>
            <textarea class="message __req" id="popup__message" rows="13"></textarea>
            <div class="form-color">
                <input value="#008000" data-jscolor="" class="color">
            </div>
            <div class="form-time-option">
                <select class="amount_of_time"></select>
            </div>
            <div class="form-button">
                <button onclick="extractData('pop-up')">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="popup-show-bg"></div>
<div class="popup-show">
    <img class="close-popup" th:src="@{/images/close-icon.png}" height="25px" width="25px" alt="">
    <div class="popup__content">
        <h2 class="show__title">Title</h2>
        <div class="show__info">
            <div><img th:src="@{images/user_icon_grey.png}" alt="user icon" height="18px"><span
                    class="info_username"></span></div>
            <div><img th:src="@{images/time_icon.png}" alt="time icon" height="18px"><span
                    class="info_expirationTime"></span></div>
            <div><img th:src="@{images/compas_icon.png}" alt="compas icon" height="18px"><span
                    class="info_coords"></span></div>
            <div class="info_id">
                <img th:src="@{images/id_icon.png}" alt="id_icon" height="18px">
                <span class="info_id_text"></span>
                <span class="link_icons">
                            <img th:src='@{images/link-icon-grey.png}' class="link_icon" height='16px' width='16px'
                                 alt='copy link'>
                            <img th:src='@{images/link-icon-active.png}' class='link_icon_active' height='16px'
                                 width='16px' alt='copy link' onclick="copyUrl($('.info_id_text').text())">
                    </span>
            </div>
        </div>
        <p class="show__message"></p>
        <button class="show__delete_btn" onclick="deleteSelectedBin($('.info_id_text').text())">Delete</button>
    </div>
</div>


<div th:attr="data-link-icon-url=@{/images/link-icon.png}"></div>
<div th:attr="data-link-icon-active-url=@{/images/link-icon-active.png}"></div>

<script th:src="@{/js/lib/jscolor.min.js}"></script>
<script th:src="@{/js/lib/fabric.min.js}"></script>
<script th:src="@{/js/lib/jquery.min.js}"></script>
<script th:src="@{/js/lib/sockjs.min.js}"></script>
<script th:src="@{/js/lib/stomp.min.js}"></script>
<script th:src="@{/js/lib/toastr.min.js}"></script>
<script th:src="@{/js/lib/cookie.min.js}"></script>
<script th:src="@{/js/canvas.js}"></script>
<script th:src="@{/js/ws.js}"></script>
<script th:src="@{/js/binREST.js}"></script>
<script th:src="@{/js/formValidator.js}"></script>
<script th:src="@{/js/field.js}"></script>
<script th:src="@{/js/ui.js}"></script>

<script th:inline="javascript">
    let bins = [[${bins}]]
    let urlBin = [[${urlBin}]]
</script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>