<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/error_authentication.css}">
    <title>Registration page</title>
</head>
<body>

<h2>Registration Page</h2>
<div th:if="${param.error}">
    <div th:switch="${param.error.stream().findAny().orElse('')}">
        <p th:case="'duplicate'" class="error_message">User with this username already exists</p>
        <p th:case="'usernameWrongFormat'" class="error_message">The username should be 6 to 30 characters long, must
            contain at least one uppercase letter</p>
        <p th:case="'passwordWrongFormat'" class="error_message">The password should be 8 to 30 characters long, must
            contain at least one uppercase letter</p>
        <p th:case="*" class="error_message">Invalid credentials. Please try again</p>
    </div>
</div>

<form th:action="@{/signup}" method="POST">
    <label for="username">Username:</label>
    <input type="data" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Sign up</button>
</form>
<br>
<br>
<button onclick="redirectTo('/login')">
    Log in
</button>
<p>
    <a href="/map">Home page</a>
</p>

<script th:src="@{/js/index.js}"></script>
</body>
</html>