<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
</head>
<body>

<h2>Registration Page</h2>

<div th:if="${param.error}" style="color: red">
    <p>Invalid credentials. Please try again.</p>
</div>

<form th:action="@{/signup}" th:method="POST">
    <input type="hidden" name="binToCreate" th:value="${param.binToCreate}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Sign up</button>
</form>

<br>
<br>
<button onclick="redirectTo('/login', 'binToCreate', new URLSearchParams(window.location.search).get('binToCreate'))">Log in</button>

<script th:src="@{/js/index.js}"></script>
</body>
</html>